* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  display: flex;
}
.thanks-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 550px;
  height: 100vh;
  width: 100vw;
  background-color: #1f2024;
}
.thanks-page__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}
.thanks-page__header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 48px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1.2px;
  line-height: 54px;
}
.thanks-page__text {
  color: #a6957f;
  font-size: 24px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  margin: 40px 0;
  max-width: 780px;
  letter-spacing: 0.6px;
  line-height: 32px;
  text-align: center;
}
.thanks-page__main-page-link {
  width: 240px;
  height: 64px;
  padding: 15px 0;
  text-align: center;
  box-shadow: 1px 2px 32px rgba(251, 177, 67, 0.3), inset 1px 2px 0 #ffffff;
  border-radius: 32px;
  border: 1px solid #ffdca8;
  background-color: #000000;
  background-image: linear-gradient(to bottom, #eac080 0%, #dca85b 100%);
  text-shadow: 1px 2px 4px #ffcd82;
  color: #1f2024;
  font-family: Calibri;
  font-size: 22px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.55px;
  text-decoration: none;
}
.thanks-page__main-page-link:hover {
  background: linear-gradient(to right top,#f6d29a,#ffd4c1,#ffe0e7,#fff1fc,#fff);
  border-color: #fff;
  box-shadow: 2px 2px 16px rgba(251,177,67,.4);
}
@media (max-width: 400px) {
  .thanks-page__text {
    font-size: 24px;
    margin: 25px 0;
    line-height: 24px;
  }
}